.buttonstyle {
    padding: 10px;
  border-radius:10px; 
  background-color:blue;
  border:5px solid red;
  font-size: 18px ;
  margin: 10px;
  color: white;
  
}
.buttonstyle1 {
    padding: 10px;
  border-radius:10px; 
  background-color:rgb(111, 111, 211);
  border:5px solid rgb(199, 94, 94);
  font-size: 18px ;
  margin: 10px;
  color: rgb(197, 23, 23);
  
}
.buttonstyle1:active {
    border:7px solid rgb(43, 196, 23);
}

.buttonstyle:active {
    border:7px solid rgb(43, 196, 23);
}

.inputin {
    background-color:brown;
    border-radius:10px;
    border-style: none;
    border-style: inherit;
    padding: 10px;
    outline: none;
    margin: 10px;
   

}

.inputbox {
    padding: 20px;
    background-color:fuchsia;
}

.inputbox1 {
    padding: 20px;
    background-color:rgb(29, 9, 29);
}